body, html {
  margin: 0;
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: [start] 1fr [middle] 1fr [end];
}

.container {
  grid-column: [start] / [middle];
  padding: 5px;
}

.content {
  grid-column: [middle] / [end];
  padding: 5px;
}